<% title "Message" %>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<p>
  <%= link_to "Edit", edit_message_path(@message) %> |
  <%= link_to "Destroy", @message, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", messages_path %>
</p>
